body {
  color: white;
  background: black;
}

.wrap {
  margin: 50px auto;
  width: fit-content;
}

.videoBox {
  min-height: 512px;
  min-width: 512px;
  background: rgb(39, 39, 39);
  margin-bottom: 12px;
}

.btnWrap {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn {
  padding: 18px 12px;
  border-radius: 4px;
  background: rgb(189, 26, 26);
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
}
.btn:not(:last-of-type) {
  background: rgb(12, 105, 60);
}